<form method="POST" action="/api/shinobilist" id="add_shinobi">
    <div class="new_shinobi">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <!--<input type="hidden" name="name" value="">-->
            <input type="text" name="name" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="clan" class="text-light">Clan</label>
            <input type="text" name="clan" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="rank" class="text-light">Rank</label>
            <input type="text" name="rank" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radiostatus" name="status" value="Active">
                <label for="radiostatus" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radiostatus2" name="status" value="Inactive">
                <label for="radiostatus2" class="radio-label">Inactive</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>